.dataform {
  margin-top: 40px;
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.dataform > label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.dataform > label > input {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dataform > label > input:hover {
  border-color: black;
}
.dataform > fieldset {
  margin: 0;
  border: 1px solid #808080;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dataform > fieldset:hover {
  border-color: black;
}
.dataform > button {
  margin-top: 8px;
  padding: 8px 16px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.dataform > button:hover {
  background-color: #6c8cff;
}
